.postCard{
  width: 100%;
  margin:auto;
  margin-bottom: 20px;
}

.example-header-image {
  float: left;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.commentCard{
  margin-bottom: 10px;
}

.matButton{
    position: absolute;
    top: 10px;
    right: 10px;
}

.optionsContainerBar{
  /* position: sticky; */
   top:0; 
   margin: auto;
   z-index: 2;
}

.containerForNavButton{
  margin: auto;
  display: inline-flex;
}
.containerForNavButton button{
  margin-right: 50px;
}

.example-full-width {
  width: 85%;
}

.example-form button{
 margin: 0 0 8px 12px;
}

.example-form{
  margin: auto;
}

img{
  max-height: 600px;
}