<div id="container">
  <!-- Button trigger modal -->
  <mat-toolbar class="optionsContainerBar" color="primary">
    <span>My Application</span>
    <div class="containerForNavButton" *ngIf="!(isHandset$ | async)">
      <button mat-button (click)="openAddEventDialog()">
        <mat-icon>message</mat-icon>
        <span> Add new event</span>
      </button>
    </div>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddEventDialog()">
          <mat-icon>message</mat-icon>
          <span> Add new event </span>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <mat-card class="postCard" *ngFor="let event of events">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <button *ngIf="event.IsAdmin" class="matButton" mat-button [matMenuTriggerFor]="menu">Menu
              <mat-icon aria-label="Side nav toggle icon">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="EditEvent(event)">Edit</button>
                  <button mat-menu-item (click)="DeleteEvent(event)">Delete</button>
            </mat-menu>
            <mat-card-title>
              {{event.EventName}}
            </mat-card-title>
            <mat-card-subtitle>{{event.UserName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image *ngIf="event.Base64StringImage" [src]="'data:image/jpeg;base64,'+event.Base64StringImage">
          <mat-card-content  *ngIf="!event.isEdit">
            <div style="width: 80%; float: left;">
                <p > {{event.EventDate | date:'medium'}} </p>
            </div>
            <div style="width: 20%; float: left;"  >
                <p class="btn btn-success" (click)="Subscription(event)" >Subscription <span  class="badge badge-pill badge-primary">{{event.Users.length}}</span></p>
            </div>
            <div >
            <p class="text-justify">
              {{event.Text}}
            </p>
          </div>
          </mat-card-content>
          <mat-card *ngIf="event.isEdit">
              <mat-card-title>Edit Event</mat-card-title>
              <mat-card-content>
                <form [formGroup]="EditEventForm" (ngSubmit)="OnSubmitEditForm(event)" class="example-form">
                  <div class="form-group">
                    <div class="form-group">
                      <input type="file" formControlName="eventImage" (change)="onFileSelected($event)">
                    </div>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Edit your post" formControlName="eventName" required />
                    </mat-form-field>
                    <div class="form-group" >
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="description" formControlName="eventText" required > </textarea>
                        </mat-form-field>
                      </div>
                    <mat-form-field >
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="eventDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    <button [disabled]="loading" class="btn btn-primary">Edit</button>
                  </div>
                  <div *ngIf="loading">
                    <mat-progress-bar mode="query"></mat-progress-bar>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>

        </mat-card>


      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="lengthArray" [pageSize]="10" (page)="nextPageEvent($event)">
</mat-paginator>
<mat-toolbar class="footer" color="primary">
  <span>My footer</span>
</mat-toolbar>