<div id="container">
  <!-- Button trigger modal -->
  <mat-toolbar class="optionsContainerBar" color="primary">
    <span>Chat component</span>
    <div class="containerForNavButton" *ngIf="!(isHandset$ | async)">
      <button mat-button (click)="openDialog()" [disabled]="!isAdminChat">
        <mat-icon>delete</mat-icon>
        <span>Delete chat</span>
      </button>
      <button mat-button (click)="openDialogAddNewMemberChat()" [disabled]="!isAdminChat">
        <mat-icon>person_add</mat-icon>
        <span>Person add</span>
      </button>
      <button mat-button (click)="openDialogLeaveChat()" [disabled]="!isAdminChat">
        <mat-icon>person_add_disabled</mat-icon>
        <span>Leave the chat</span>
      </button>
    </div>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isHandset$ | async"
      [disabled]="!isAdminChat">
      <mat-icon aria-label="Side nav toggle icon">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()" [disabled]="!isAdminChat">
          <mat-icon>delete</mat-icon>
          <span>Delete chat</span>
        </button>
        <button mat-menu-item (click)="openDialogAddNewMemberChat()" [disabled]="!isAdminChat" >
          <mat-icon>person_add</mat-icon>
          <span>Person add</span>
        </button>
        <button mat-menu-item (click)="openDialogLeaveChat()" [disabled]="!isAdminChat">
          <mat-icon>person_add_disabled</mat-icon>
          <span>Leave the chat</span>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar>

  <div class="chat-panel card card-default">
    <div class="card-header">
      <i class="fa fa-comments fa-fw"></i> Chat
    </div>
    <!-- /.panel-heading -->
    <div class="card-block">
      <ul class="chat">
        <li class="left clearfix">
          <span class="chat-img pull-left">
            <img src="https://cdn.pixabay.com/photo/2015/03/26/09/41/tie-690084_1280.jpg" alt="User Avatar" class="img-circle" style="width: 60px; height: 60px;">
          </span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">Jan Kowalski</strong>
              <small class="pull-right text-muted">
                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
              </small>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
            </p>
          </div>
        </li>
        <!-- class="right clearfix"
      [ngStyle] = "{'text-align':currentUserName == message.SenderName ? 'left' : 'right'}" -->
        <li *ngFor="let message of messages" [ngClass]="currentUserName != message.SenderName ? 'chatMessageList' : ''">
          <span class="chat-img pull-right">
              <img src="https://cdn.pixabay.com/photo/2016/08/01/20/12/girl-1561979_1280.jpg" alt="User Avatar" class="img-circle" style="width: 60px; height: 60px;">
          </span>
          <div class="chat-body clearfix">
            <div class="header">
                <strong class="pull-right primary-font">{{ message.SenderName }}</strong>
              <small class=" text-muted">
                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
            </div>
            <p>
              {{ message.MessageText }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.card-body -->
    <form [formGroup]="chatForm" (ngSubmit)="sendChatMessage()" autocomplete="off">
      <div class="card-footer">
        <div class="input-group">
          <!-- [(ngModel)]="userMessage" -->
          <input id="btn-input" type="text" formControlName="userMessage" maxlength="250" class="form-control input-sm"
            placeholder="Type your message here...">
          <span class="input-group-btn">
            <button class="btn btn-primary">Send</button>
          </span>
        </div>
      </div>
    </form>
    <!-- /.card-footer -->
  </div>