<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->
<!-- <app-begin-nav *ngIf='!(authenticationService.currentUserValue)'>
  <alert></alert>
 
</app-begin-nav> -->


      <!-- <mat-toolbar color="primary" class="example-toolbar" style=" position: fixed;">
       
        <h1 class="example-app-name">Responsive App</h1>
      </mat-toolbar> -->
    
      <!-- <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button> -->

<app-main-nav *ngIf="authenticationService.currentUserValue">
  <alert></alert>
  <router-outlet></router-outlet>
</app-main-nav> 
<div *ngIf="!(authenticationService.currentUserValue)">
  <alert></alert>
  <router-outlet></router-outlet>
</div>


<!-- <app-side-nav></app-side-nav> -->


<!-- *ngIf="!(authenticationService.currentUserValue)" -->
   <!-- <router-outlet *ngIf="!(false)" ></router-outlet>    -->